<mdb-card class="card">

  <div class="flats">
    <div class="label">New Flats</div>
    <div class="number">{{numberOfFlats}}</div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: {{percentageDifferenceFlats}}%"
           aria-valuemax="100"></div>
    </div>
    <div class="result">Better than last week({{percentageDifferenceFlats}}%)</div>
  </div>

  <div class="orders">
    <div class="label">New Commitments</div>
    <div class="number">29</div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuemax="100"></div>
    </div>
    <div class="result">Better than last week(40%)</div>
  </div>

  <div class="comments">
    <div class="label">New Comments</div>
    <div class="number">122</div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 27%"
           aria-valuemax="100"></div>
    </div>
    <div class="result">Better than last week(27%)</div>
  </div>

</mdb-card>
