.card {
  width: 280px;
  height: 500px;
  margin: 0 0 30px 35px;
  padding: 20px 25px 20px 25px;
}

.label {
  width: 100%;
  font-size: 20px;
}

.number {
  width: 100%;
  font-size: 35px;
  font-weight: bold;
  margin: 13px 0 13px 0;
}

.result {
  margin-top: 10px;
  font-size: 15px;
  color: #8f9bb3;
}

.orders {
  margin-top: 50px;
}

.comments {
  margin-top: 50px;
}

