<app-active-counts></app-active-counts>

<div class="bar-charts">
  <div class="bar-chart-card">
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <span class="bar-chart-label">Weekly Statistics</span>
        </mdb-card-title>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div>
    <app-user-chart></app-user-chart>
    <app-flat-chart></app-flat-chart>
  </div>

  <div>
    <app-top-landlords></app-top-landlords>
    <app-dashboard-stats></app-dashboard-stats>
  </div>
  <mdb-card class="credits">
    <button type="button" class="btn aqua-gradient view-button" (click)="goToStatistics()">View Detailed Statistics</button>
  </mdb-card>
</div>
