<div class="about">
  <div class="title">About Us<br>____</div>

  <div class="description">
    Makler Taboo is a transparent and secure home rental platform that<br>
    connects tenants and landlords. We deliver the most efficient set of<br>
    tools to streamline your rental experience from submitting your<br>
    applications, credit reports and custom offers, to e-signing rental<br>
    agreements and online rental payments.
  </div>
</div>
<div class="container">
  <div class="label">Our Team</div>
  <div class="description text">
    Meet the team that invented the platform!<br>
    We cooperated together with great desire to simplify your rental experience.<br>
    Each member of our crew brings a unique set of skills to deliver the most<br>
    transparent, secure and easy-to-use product to you.
  </div>

  <div class="stats">
    <div class="info first">
      <div class="count">8</div>
      <div class="info-text">
        Dedicated<br>
        People
      </div>
    </div>
    <div class="info">
      <div class="count">20</div>
      <div class="info-text ext">
        Years of combined<br>
        experience
      </div>
    </div>
    <div class="info">
      <div class="count">3</div>
      <div class="info-text">
        Months of<br>
        intensive work
      </div>
    </div>

  </div>
  <div class="photo">
    <img src="../../assets/images/our_team.jpg" class="ourteam" alt="no image">
  </div>

  <div class="label contact">Contact Us</div>
  <div class="description">
    We’re here for you. Anytime. Excellent customer service is our core<br>
    expertise. With that in mind, we are sure to answer any inquiries 24/7.
  </div>

  <div class="icons">
    <div class="icon">
      <img class="image" src="../../assets/images/hello.png">
      <div class="creds a">Email Us</div>
    </div>
    <div class="icon c">
      <img class="image" src="../../assets/images/phone.png">
      <div class="creds b">Phone Us</div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="reserved">© MaklerTaboo, Inc.</div>
</div>
