
.example-form {
  min-width: 150px;
  max-width: 800px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-header-image {
  background-image: url('https://maximum.fm/uploads/424x239_DIR/media_news/2017/11/d8ad672cb172abeab36625b3c0fedcf292231f61.jpg');
  background-size: cover;
}
