<div class="user-diagram">
  <div class="diagram-title">
    <p>Flats
    <p>
  </div>
  <canvas mdbChart
          [chartType]="chartType"
          [datasets]="chartDatasets"
          [labels]="chartLabels"
          [colors]="chartColors"
          [options]="chartOptions"
          [legend]="true"
  >
  </canvas>

  <div class="card stats first">
    <div class="card-body">
      <p><b>{{chartDatasets[0]}}</b> Active Flats</p>
    </div>
  </div>
  <div class="card stats">
    <div class="card-body">
      <p><b>{{chartDatasets[1]}}</b> Unactive Flats</p>
    </div>
  </div>

</div>

