<link *ngIf="customTheme" rel="stylesheet" [href]='customTheme | sanitize'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<div id="chatbox" [ngClass]="theme">
  <div id="friendslist">
    <div id="topmenu">
      <span class="friends"></span>
      <span class="chats"></span>
      <span class="history"></span>
    </div>
    <div infinite-scroll *ngFor="let mes of chats">
      <div id="friends">
        <div class="friend">
          <div *ngIf="mes.senderId != currentUserId">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg"/>
            <p>
              <strong> {{mes.senderUsername}}</strong>
            </p>
            <button fxFlex="30" class="btn draw-border"
                    [class.selected]="mes.senderUsername === username"
                    (click)="isUserSelectedFromFriendsList(mes.senderUsername)">Chat
            </button>
          </div>
        </div>
      </div>
      <div class="friend">
        <div *ngIf="mes.senderId == currentUserId">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg"/>
          <p>
            <strong> {{mes.receiverUsername}}</strong>
          </p>
          <button fxFlex="30" class="btn draw-border"
                  [class.selected]="mes.receiverUsername === username"
                  (click)=isUserSelectedFromFriendsList(mes.receiverUsername)>
            Chat
          </button>
        </div>
      </div>
    </div>
   <!-- <div id="search">
      <input type="text" id="searchfield" value="Search contacts..."/>
    </div>-->
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<app-chat *ngIf="chatIsActive" [username]="username" (onMessagesSeen)="messageSeen($event)" (onClose)="modalClosed($event)">{{unreadMessages}}</app-chat>

