#message {
  font-size: medium;
  margin-bottom: 10px;
  font-weight: bold;
}

#no_btn {
  float: left;
  border: 1px grey solid;
  margin-bottom: 10px;
  margin-left: 25px;
}

#yes_btn {
  margin-left: 115px;
  float: right;
  margin-bottom: 10px;
}
