<div fxLayout="row" fxLayoutAlign="center none">
  <div>
    <mat-card class="mat-elevation-z5" style="width: 900px; margin-right: 16px; position: relative">
      <h1>Comments</h1>
      <p *ngIf="comments.length>0">Number of comments {{comments.length}}</p>
      <button style="position: absolute; left: 160px; top: 12px; font-size: 16px"
              mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>sort</mat-icon> Sort
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="loadComments(id)" (click)="load = 'new'" mat-menu-item>
          <span>Newer at first</span>
        </button>
        <button (click)="loadCommentsOlder(id)" (click)="load = 'old'"  mat-menu-item>
          <span>First older</span>
        </button>
        <button (click)="loadCommentsByLikes(id)" (click)="load = 'like'" mat-menu-item>
          <span>By likes</span>
        </button>
      </mat-menu>
      <hr>
      <div>
        <input
          type="text"
          class="form-control"
          placeholder="Text..."
          [(ngModel)]="text"
          autocomplete="off"
          matInput
          (keyup.enter)="add()"
        >
        <button style="margin-top: 10px" (click)="add()" fxFlexAlign="end end" class="donate" mat-raised-button
                color="primary">
          Add Comment
        </button>
      </div>
    </mat-card>

    <div *ngIf="comments.length; else noComments">
      <mat-card class="mat-elevation-z5" style="width: 900px; margin-top: 16px; position: relative"
                *ngFor="let comment of comments">
        <p style="font-size: 16px; word-wrap: break-word; width: 80%" *ngIf="comment.text!==null"> {{comment.text}}</p>
        <div *ngIf="comment.userAuthor.photoUrl==null" mat-card-avatar
             class="example-header-image" style="position: absolute; right: 20px; top: 15px"></div>
        <img *ngIf="comment.userAuthor.photoUrl!=null" mat-card-avatar
             style="position: absolute; right: 20px; top: 15px; background-size: cover;"
             [src]="comment.userAuthor.photoUrl">
        <a href="short_profile/{{comment.userAuthor.id}}"
           style="font-size: 12px; position: absolute; right: 25px; top: 53px">
          {{comment.userAuthor.username}}</a>
        <mat-card-subtitle>{{comment.publicationDate}}</mat-card-subtitle>
        <button style="position: absolute; right: 10px; top: 85px"
                mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="comment.userAuthor.id==isId"
                  (click)="remove(comment.id)" mat-menu-item>
            <span>Delete</span>
          </button>
          <button *ngIf="comment.userAuthor.id!=isId"
                  (click)="isComplain=!isComplain"
                  (click)="commentId=comment.id" mat-menu-item>
            <span>Complaint</span>
          </button>
        </mat-menu>
        <button (click)="addFlat(comment.id)" style="margin-bottom: -5px"  mat-icon-button>
          <mat-icon *ngIf="comment.commentLikes>0" matBadge="{{comment.commentLikes}}" matBadgeColor="warn">thumb_up</mat-icon>
          <mat-icon *ngIf="comment.commentLikes==0">thumb_up</mat-icon>
        </button>
        <br>
        <button style="margin-top: 10px" style="margin-bottom: 10px;" fxFlexAlign="end end" class="donate"
                mat-raised-button
                color="primary" (click)="isTrue=!isTrue" (click)="commentId=comment.id">Reply
        </button>
        <button style="margin-top: 10px; margin-left: 10px; margin-bottom: 10px" fxFlexAlign="end end" class="donate"
                mat-raised-button
                color="primary" (click)="isList=!isList" (click)="commentId=comment.id">Answers
        </button>

        <div *ngIf="isTrue && commentId==comment.id">
          <app-coments-about-comment [commentId]="comment.id" [flatId]="comment.flatId"></app-coments-about-comment>
        </div>
        <div *ngIf="isList && commentId==comment.id">
          <app-list-comment [commentId]="comment.id" [flatId]="comment.flatId"></app-list-comment>
        </div>
      </mat-card>
    </div>
    <ng-template #noComments>
      <p style="margin:20px; font-size: 20px">No comments</p>
    </ng-template>

  </div>
  <app-complaint
    *ngIf="isComplain && commentId==commentId"
    [commentId]="commentId"
    (close)="isComplain=false"
  ></app-complaint>
</div>


