<div>
  <div>
    <input
      type="text"
      class="form-control"
      placeholder="Text..."
      [(ngModel)]="text"
    >
    <button class="btn" (click)="add()">add comment</button>
  </div>
  <hr>
  <div *ngIf="comments.length; else noComments">
    <div class="card" *ngFor="let comment of comments">
    <p *ngIf="comment.text!==null"> {{comment.text}}{{comment.publicationDate}}</p>
    <button class="btn" (click)="remove(comment.id)"></button>
    </div>
  </div>

  <ng-template #noComments>
    <p>No Comments. Be first)</p>
  </ng-template>
</div>
