<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark aqua-gradient lighten-1" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">MaklerTaboo</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/flats" routerLinkActive="active">Flat Search</a>
      </li>
      <li *ngIf="authService.isAuthenticated()" (click) = activateChat() class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect >Chat</a>
      </li>
      <li *ngIf="authService.isAuthenticated()" class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/data" routerLinkActive="active">Profile</a>
      </li>
      <li *ngIf="displayRole()==='ROLE_LANDLORD'" class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/addflat" routerLinkActive="active">Add flat</a>
      </li>
      <li *ngIf="displayRole()==='ROLE_ADMIN'" class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/admin" routerLinkActive="active">Admin panel</a>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">

      <a id = "username" style="font-size: 15px; vertical-align: center; color: white" *ngIf="authService.isAuthenticated()" class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/data" routerLinkActive="active">{{displayName()}}</a>
      <li class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a *ngIf="!authService.isAuthenticated()" class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/login" routerLinkActive="active">Sign in</a>
          <a *ngIf="!authService.isAuthenticated()" class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/registration" routerLinkActive="active">Sign up</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="logout($event)" routerLink="/flats" routerLinkActive="active" *ngIf="authService.isAuthenticated()">Log out</a>
        </div>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<app-chatbutton *ngIf="chatListIsActive"></app-chatbutton>
