<form class="text-center border border-light p-5" [formGroup]="form" (ngSubmit)="changePassword()">

  <p class="h4 mb-4">Change Your Password</p>

  <div style="background-color: #ea3455; font-size: 15px" class="alert alert danger"
       *ngIf="userChangePasswordService.error$ | async as error">
    {{ error }}
  </div>
  <div style="background-color: #ea3455; font-size: 15px" class="alert alert danger"
       *ngIf="userChangePasswordService.errorPassword$ | async as error">
    Field 'Password' {{ error }}
  </div>
  <div
    *ngIf="form.get('password').invalid && form.get('password').touched"
    class="validation">
    <small *ngIf="form.get('password').errors.required">Field password can not be empty</small>
    <small *ngIf="form.get('password').errors.minlength">Length of password must be at
      list {{form.get('password').errors.minlength.requiredLength}} characters</small>
  </div>
  <input type="password" class="form-control" placeholder="Current Password"
         aria-describedby="defaultRegisterFormPasswordHelpBlock" formControlName="password">
  <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
    At least 6 characters
  </small>

  <div style="background-color: #ea3455; font-size: 15px" class="alert alert danger"
       *ngIf="userChangePasswordService.errorNewPassword$ | async as error">
    Field 'New Password' {{ error }}
  </div>
  <div
    *ngIf="form.get('newPassword').invalid && form.get('newPassword').touched"
    class="validation">
    <small *ngIf="form.get('newPassword').errors.required">Field password can not be empty</small>
    <small *ngIf="form.get('newPassword').errors.minlength">Length of password must be at
      list {{form.get('newPassword').errors.minlength.requiredLength}} characters</small>
  </div>
  <input type="password" class="form-control" placeholder="New Password"
         aria-describedby="defaultRegisterFormPasswordHelpBlock2" formControlName="newPassword">
  <small id="defaultRegisterFormPasswordHelpBlock2" class="form-text text-muted mb-4">
    At least 6 characters
  </small>

  <div style="background-color: #ea3455; font-size: 15px" class="alert alert danger"
       *ngIf="userChangePasswordService.errorConfirmNewPassword$ | async as error">
    Field 'Confirm New Password' {{ error }}
  </div>
  <div
    *ngIf="form.get('confirmNewPassword').invalid && form.get('confirmNewPassword').touched"
    class="validation">
    <small *ngIf="form.get('confirmNewPassword').errors.required">Field password can not be empty</small>
    <small *ngIf="form.get('confirmNewPassword').errors.minlength">Length of password must be at
      list {{form.get('confirmNewPassword').errors.minlength.requiredLength}} characters</small>
  </div>
  <input type="password" class="form-control" placeholder="Repeat New Password"
         aria-describedby="defaultRegisterFormPasswordHelpBlock3" formControlName="confirmNewPassword">
  <small id="defaultRegisterFormPasswordHelpBlock3" class="form-text text-muted mb-4">
    At least 6 characters
  </small>

  <button mdbBtn block="true" class="btn btn-info btn-block my-4" type="submit" [disabled]="form.invalid">Confirm
  </button>
</form>
