.user-chart{
  width: 605px;
  margin: 30px 0px 30px 35px;
  float: left;
}

.count-number {
  font-size: 30px
}

.count-label {
  margin: 40px 0px 15px 0px;
  font-size: 20px;
}

.chart {
  margin: 20px 0px 5px 30px;
}
