.flat-chart {
  width: 830px;
  margin: 0 30px 30px 0;
  float: right;
  display: flex;
}

.count-number {
  font-size: 30px
}

.count-label {
  margin: 40px 0 15px 0;
  font-size: 20px;
}

.chart {
  margin: 20px 0 5px 30px;
}
