
<div class="container bootstrap snippet">

  <div class="row">
    <div class="col-sm-3">

      <div class="text-center">
        <img [src]="userData.photoUrl" class="img-thumbnail">
        <div class="nickname">{{userData.username}}</div>
        <div class="phone">{{userData.phoneNumber}}</div>
        <a class = "button" mat-button routerLink="/short_profile/{{userData.id}}" target="_blank">View Profile</a>
      </div>

    </div><!--/col-3-->
    <div class="col-sm-9">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#passport">Passport Data</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="passport">
          <hr>
          <form class="form" action="" method="post" enctype="multipart/form-data" id="registrationForm">
            <div class="form-group">

              <div class="col-xs-6">
                <h4>First name</h4>

                <input type="text" class="form-control" [(ngModel)]="data.firstName"
                       [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <h4>Last name</h4>
                <input type="text" class="form-control" [(ngModel)]="data.lastName"
                       [ngModelOptions]="{standalone:true}">
              </div>
            </div>

            <div class="form-group">

              <div class="col-xs-6">
                <h4>Middle name</h4>
                <input type="text" class="form-control" [(ngModel)]="data.middleName"
                       [ngModelOptions]="{standalone:true}">
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-6">
                <h4>Gender</h4>
                <input type="text" class="form-control" [(ngModel)]="data.gender" [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <h4>Birth date</h4>
                <input type="text" class="form-control" [(ngModel)]="data.birthDate"
                       [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <h4>Birth place</h4>
                <input type="text" class="form-control" [(ngModel)]="data.birthPlace"
                       [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <h4>Passport type</h4>
                <input type="text" class="form-control" [(ngModel)]="data.passportType"
                       [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <h4>Nationality</h4>
                <input type="text" class="form-control" [(ngModel)]="data.nationality"
                       [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <h4>Authority</h4>
                <input type="text" class="form-control" [(ngModel)]="data.authority"
                       [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <h4>Date of issue</h4>
                <input type="text" class="form-control" [(ngModel)]="data.dateOfIssue"
                       [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <h4>Expiration date</h4>
                <input type="text" class="form-control" [(ngModel)]="data.expirationDate"
                       [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <h4>Passport number</h4>
                <input type="text" class="form-control" [(ngModel)]="data.passportNumber"
                       [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <h4>Identification number</h4>
                <input type="text" class="form-control" [(ngModel)]="data.identificationNumber"
                       [ngModelOptions]="{standalone:true}">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <br>

              </div>
            </div>
          </form>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

