.users-line-chart {
  width: 80%;
  margin: 130px;
}

.count-label {
  margin: 40px 0px 15px 0px;
  font-size: 25px;
  align-self: center;
}

.users-line-chart-label{
  margin-top: 800px;
  text-align: center;
  margin-bottom: 60px;
}
