<div>
  <div class="request-table">
    <div class="requests-label">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <div class="requests-label-text">{{status|titlecase}} Requests {{label}}</div>
            <form [formGroup]="statusForm">
              <mat-form-field class="status-select">
                <mat-label>Status</mat-label>
                <mat-select formControlName="statusForm" (selectionChange)="onChangeStatus($event.value)">
                  <mat-option *ngFor="let status of statuses"
                              [value]="status">{{status|titlecase}}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="mat-elevation-z8 req-table">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element"> #{{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef>Author</th>
          <td mat-cell *matCellDef="let element"><a
            href="short_profile/{{element.author.id}}">{{element.author.username}}</a></td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Creation Date</th>
          <td mat-cell *matCellDef="let element"> {{element.creationDate | date:'mediumDate'}} </td>
        </ng-container>


        <ng-container matColumnDef="review">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            <button *ngIf="element.status=='NEW' || element.status=='VIEWED'" mat-raised-button color="primary"
                    (click)="review(element.id)">Review
            </button>
            <span *ngIf="element.status=='APPROVED'">Approved at {{element.verificationDate | date:'mediumDate'}}</span>
            <span *ngIf="element.status=='DECLINED'">Declined at {{element.verificationDate | date:'mediumDate'}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="agreement">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button class="cancel-button" *ngIf="(element.status=='APPROVED') && (element.isAgreementAccepted == false
            || element.isAgreementAccepted == null)" mat-raised-button color="primary"
                    (click)="reviewAgreement(element.id)" [disabled]="(element.isAgreementCreated == false)
                    || (element.isAgreementCreated == null)">Review Agreement
            </button>

            <button *ngIf="(element.isAgreementAccepted == true) && (element.status !== 'DECLINED')"
                    class="cancel-button" mat-raised-button color="primary"
                    (click)="checkPayment()" disabled="disabled">Check Payment
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="cancel">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button class="cancel-button" *ngIf="element.status=='APPROVED'" mat-raised-button color="primary"
                    (click)="openCancelDialog(element.id)">Cancel
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator (page)="paginationPage()" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

</div>
