.flat-review {
  height:100%;
  width: 100%;
}

.close-button {

}

.approve-button {
  margin-left: 800px;
}

.decline-button {
  margin-left: 30px;
}

.buttons {
  position: absolute;
  bottom: 50px;
  background: white;
}
