
<div *ngIf="comments.length; else noComments">
  <div style="width: 90%; margin-top: 10px; border-top: 2px solid black" *ngFor="let comment of comments">
    <p style="font-size: 16px" *ngIf="comment.text!==null"> {{comment.text}}</p>
    <mat-card-subtitle>{{comment.publicationDate}}</mat-card-subtitle>
    <button style="margin-top: 10px" (click)="remove(comment.id)" fxFlexAlign="end end" class="donate" mat-raised-button
            color="primary">
      Remove
    </button>
    <button style="margin-top: 10px" style="margin-bottom: 10px" fxFlexAlign="end end" class="donate" mat-raised-button
            color="primary" (click)="isTrue=!isTrue" (click)="commentId=comment.id" >Відповісти</button>
    <button style="margin-top: 10px" style="margin-bottom: 10px" fxFlexAlign="end end" class="donate" mat-raised-button
            color="primary" (click)="isList=!isList" (click)="commentId=comment.id" >Відповіді</button>
    <div *ngIf="isTrue && commentId==comment.id">
      <app-coments-about-comment [commentId]="comment.id" [flatId]="comment.flatId"></app-coments-about-comment>
    </div>
    <div *ngIf="isList && commentId==comment.id">
      <app-list-comment [commentId]="comment.id" [flatId]="comment.flatId"></app-list-comment>
    </div>
  </div>
</div>
<ng-template #noComments>
  <p style="margin:20px; font-size: 15px">No Comments</p>
</ng-template>
