.main-card {
  position: relative;
  width: 250px;
  float: right;
  margin: 20px 20px 0px 0px;
  height: 500px;
}


.label {
  font-size: 25px;
  text-align: center;
  line-height: 1.2;
  height: 80px;
  padding-top: 10px;
}
