.label-card {
  position: relative;
  width: 250px;
  float: right;
  margin: 20px 20px 0px 0px;
  height: 80px;
  color: #2d2d2d;
  align-items: center;
  justify-content: center;
  border-spacing: 10px;
}

.label {
  font-size: 25px;
  text-align: center;
}
