.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.mat-elevation-z8 {
  height: 80%;
  width: 100%;
}

.div1 {
  grid-area: 1 / 1 / 6 / 6;
  margin: 10px;
  height: 100%;
}

.div2-h1 {
  text-align: center;
  font-family: Literata, serif;
}

