.users-line-chart {
  width: 835px;
  height: 510px;
  margin: 30px 0 30px 0;
}

.label {
  float: left;
  margin: 30px 20px 20px 20px;
  font-size: 25px;
  width: 300px;
}

.users-line-chart-label {
  text-align: center;
  margin: auto;
  width: 1000px;
  padding-bottom: 50px;
}

.input-month {
  float: right;
  margin: 20px 10px 10px 10px;
}
.date-input{
  float: right;
  width: 400px;
}

.chart{
  width: 50%;
}
