<p>flat-detailed works!</p>
<div fxFlex="center">
  <mat-card class="example-card">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>

    <mat-card  style="background-color: aqua; ">
      <gallery class="flat-gallery" [items]="images" thumbPosition="left"></gallery>
    </mat-card>

    <mat-chip-list>
      <mat-chip>Papadum</mat-chip>
      <mat-chip>Naan</mat-chip>
      <mat-chip>Dal</mat-chip>

      <mat-chip>Dal</mat-chip>

      <mat-chip>Dal</mat-chip>

      <mat-chip>Dal</mat-chip>

      <mat-chip>Dal</mat-chip>
      <mat-chip>Dal</mat-chip>

    </mat-chip-list>

  </mat-card>
</div>
