.flat-gallery{
  width: 865px;
  background-color: white;
}
.example-card {
  max-width: 800px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
