.flat-gallery {
  width: 865px;
  background-color: white;
}

.example-card {
  padding: 20px;
  margin-top: 25px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  width: 900px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
