.flat-review {
  height: 670px;
  width: 1100px;
  position: relative;
}

.close-button {

}

.approve-button {
  margin-left: 835px;
}

.decline-button {
  margin-left: 30px;
}

.buttons {
  background: white;
  bottom: 0;
  position: absolute;
}
