<div class="flat-review">

  <div *ngIf="data.type=='FLATS';then flatDetails; else userDetails"></div>
  <ng-template #flatDetails>
    <app-flat-request-detail [id]="data.request.flat.id"></app-flat-request-detail>
  </ng-template>
  <ng-template #userDetails>
    <app-user-request-detail></app-user-request-detail>
  </ng-template>


  <div class="buttons">
    <button class="close-button" mat-raised-button color="basic" (click)="close()">Close</button>
    <button class="approve-button" mat-raised-button color="primary" (click)="approve()">Approve</button>
    <button class="decline-button" mat-raised-button color="warn" (click)="decline()">Decline</button>
  </div>

</div>

