<!-- List of comments -->
<div style=" border-top: 1px solid black;  margin-top: 10px; margin-left: 10%"
     *ngIf="comments.length; else noComments">
  <div style="position: relative; margin-top: 10px" *ngFor="let comment of comments">
    <p style="font-size: 16px; word-wrap: break-word;" *ngIf="comment.text!==null"> {{comment.text}}</p>
    <div *ngIf="comment.userAuthor.photoUrl==null" mat-card-avatar class="example-header-image"
         style="position: absolute; right: 20px; top: 5px"></div>
    <img *ngIf="comment.userAuthor.photoUrl!=null" mat-card-avatar
         style="position: absolute; right: 20px; top: 5px; background-size: cover;"
         [src]="comment.userAuthor.photoUrl">
    <a href="short_profile/{{comment.userAuthor.id}}"
       style="font-size: 12px; position: absolute; right: 25px; top: 43px" > {{comment.userAuthor.username}}</a>
    <mat-card-subtitle>{{comment.publicationDate}}</mat-card-subtitle>

    <!-- Delete/Complain button -->
    <button
      *ngIf="role == 'ROLE_RENTER' || role == 'ROLE_LANDLORD'
          || role == 'ROLE_ADMIN' || role == 'ROLE_MODERATOR'"
      style="position: absolute; right: 10px; top: 75px"
      mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="comment.userAuthor.id==isId"
              (click)="remove(comment.id)" mat-menu-item>
        <span>Delete</span>
      </button>
      <button *ngIf="comment.userAuthor.id!=isId"
              (click)="isComplain=!isComplain"
              (click)="commentId=comment.id" mat-menu-item>
        <span>Complain</span>
      </button>
    </mat-menu>

    <!-- Like -->
    <button
      [disabled]="(role != 'ROLE_RENTER' || role != 'ROLE_LANDLORD'
          || role != 'ROLE_ADMIN' || role != 'ROLE_MODERATOR')"
      (click)="addFlat(comment.id)" style="margin-bottom: -5px"  mat-icon-button>
      <mat-icon *ngIf="comment.commentLikes>0" matBadge="{{comment.commentLikes}}" matBadgeColor="warn">thumb_up</mat-icon>
      <mat-icon *ngIf="comment.commentLikes==0">thumb_up</mat-icon>
    </button>
    <br>

    <!-- Reply/Answers -->
    <button
      *ngIf="role == 'ROLE_RENTER' || role == 'ROLE_LANDLORD'
          || role == 'ROLE_ADMIN' || role == 'ROLE_MODERATOR'"
      style="margin-top: 10px" style="margin-bottom: 10px" fxFlexAlign="end end" class="donate" mat-raised-button
      color="primary" (click)="isTrue=!isTrue" (click)="commentId=comment.id" >Reply</button>
    <button style="margin-top: 10px; margin-left: 10px; margin-bottom: 10px" fxFlexAlign="end end" class="donate" mat-raised-button
            color="primary" (click)="isList=!isList" (click)="commentId=comment.id" >Answers</button>

    <!-- Complaint component -->
<!--    <div *ngIf="isComplain && commentId==comment.id">-->
<!--      <app-complaint [commentId]="comment.id"></app-complaint>-->
<!--    </div>-->

    <!-- Reply component -->
    <div *ngIf="isTrue && commentId==comment.id">
      <app-coments-about-comment [commentId]="comment.id" [flatId]="comment.flatId"></app-coments-about-comment>
    </div>

    <!-- Answers component -->
    <div *ngIf="isList && commentId==comment.id">
      <app-list-comment  [commentId]="comment.id" [flatId]="comment.flatId"></app-list-comment>
    </div>
  </div>

  <!-- Complaint component -->
  <app-complaint
    *ngIf="isComplain && commentId==commentId"
    [commentId]="commentId"
    (close)="isComplain=false"
  ></app-complaint>
</div>
<ng-template #noComments>
  <p style="margin:20px; font-size: 15px">No comments</p>
</ng-template>
