.flat-review {
  height: 600px;
  width: 1000px;
}

.close-button {
  float: left;
}

.approve-button {
  float: right;
  margin-right: 20px;
}

.decline-button {
  float: right;
}

.buttons {
  height: 40px;
}
