table {
  width: 100%;
}

.example-full-width {
  width: 150px;
  margin-left: 10px;
}


.field-add {
  text-align: center;
  height: 80px;
}

.form-field {
  text-align: center;
}

.action-button {
  text-align: center;
  width: 80px;
  font-size: 13px;
}

.dialog-window {
  height: 300px;
  text-align: center;
  font-size: 13px;
}

.dialog-button {
  margin-right: 15px;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label {
  color: black;
  background-color: #c9cdfe;
}
