
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-3"><!--left col-->

      <div class="text-center">
        <img *ngIf="userData.photoUrl !== null; else noData" [src]="userData.photoUrl" class="img-thumbnail" style="width: 200px">
        <ng-template #noData>
          <img [src]="noPhoto" class="img-thumbnail" style="width: 200px">
        </ng-template>
      </div>
      <br>
      <div class="text-center">
      <input style="display: none" type = "file" (change)="onFileSelected($event)" #fileInput>
      <button mat-raised-button color="primary" (click)="fileInput.click()" >Change</button>
      <button mat-raised-button color="primary"  style="margin:13px;" (click)="onUpload()">Upload</button>
      </div>
    </div><!--/col-3-->
    <div class="col-sm-9">
      <ul id="navlist">
        <li><a href="/data">User data</a></li>
        <li><a href="/profile">Passport data</a></li>
        <li><a href="/telegram">Telegram</a></li>
      </ul>

          <form class="form" action="" method="post" enctype="multipart/form-data" id="registrationForm">
                <mat-form-field appearance="outline">
                  <mat-label>User name</mat-label>
                  <input matInput  [(ngModel)]="userData.username"
                         [ngModelOptions]="{standalone:true}">
                  <small style="color: #d92550; font-size: 12px" class="align-baseline"
                         *ngIf="profileUserService.ERROR_USERNAME$ | async as error">
                    {{ error }}
                  </small>
                </mat-form-field>
                 <br>
                <mat-form-field appearance="outline">
                  <mat-label>Phone number</mat-label>
                  <input matInput [(ngModel)]="userData.phoneNumber"
                         [ngModelOptions]="{standalone:true}" >
                  <small style="color: #d92550; font-size: 12px" class="align-baseline"
                         *ngIf="profileUserService.ERROR_PHONE$ | async as error">
                    {{ error }}
                  </small>
                </mat-form-field>

            <div class="form-group">
              <div class="col-xs-12">

                <button mat-raised-button color="primary"  (click)="updateUserData(userData)"
                        type="submit"> Save
                </button>
                <a routerLink="/changePassword">
                  <button mat-raised-button color="primary" style="margin:20px;"> New password
                  </button>
                </a>
                <button mat-raised-button color="warn" (click)="resetData()" >Reset</button>
                <button mat-raised-button color="primary" style="margin:20px;"   (click)="evaluateToLandlord(dataLand)" [disabled]="!landlordData" type="submit">
                  Landlord
                </button>
                <small style="color: #d92550; font-size: 12px" class="align-baseline"
                       *ngIf="profileUserService.error$ | async as error">
                  {{ error }}
                </small>
              </div>
            </div>
          </form>
      </div><!--/tab-pane-->
    </div><!--/tab-content-->
    </div>

