
<div class="container bootstrap snippet" style="margin-top: 30px">
  <div class="row">
    <div class="col-sm-3" style="margin-left: 30px">

      <div class="text-center" style="margin-left: 75px" >
        <img *ngIf="userData.photoUrl !== null; else noData" [src]="userData.photoUrl" class="img-thumbnail"
             style="width: 200px">
        <ng-template #noData>
          <img [src]="noPhoto" class="img-thumbnail" style="width: 200px">
        </ng-template>
      </div>

    </div><!--/col-3-->

    <div class="col-sm-6" >
    <form class="form" action="" method="post" enctype="multipart/form-data" id="registrationForm">
             <div class="form-row">
               <ul id="navlist" style="margin-left: 80px">
                 <li><a href="/data">User data</a></li>
                 <li><a href="/profile">Passport data</a></li>
                 <li><a href="/telegram">Telegram</a></li>
               </ul>
                 <div class="col">
               <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput  [(ngModel)]="data.firstName"
                       [ngModelOptions]="{standalone:true}">
                <small style="color: #d92550; font-size: 12px" class="align-baseline"
                       *ngIf="landlordService.ERROR_FIRSTNAME$ | async as error">
                  {{ error }}
                </small>
              </mat-form-field>
             </div>

               <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput  [(ngModel)]="data.lastName"
                       [ngModelOptions]="{standalone:true}" >
                <small style="color: #d92550; font-size: 12px" class="align-baseline"
                       *ngIf="landlordService.ERROR_LASTNAME$ | async as error">
                  {{ error }}
                </small>
              </mat-form-field>
               </div>
               <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Middle name</mat-label>
              <input matInput  [(ngModel)]="data.middleName"
                     [ngModelOptions]="{standalone:true}">
              <small style="color: #d92550; font-size: 12px" class="align-baseline"
                     *ngIf="landlordService.ERROR_MIDDLENAME$ | async as error">
                {{ error }}
              </small>
            </mat-form-field>
               </div>
               <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Gender</mat-label>
              <mat-select [(ngModel)]="data.gender" [ngModelOptions]="{standalone:true}">
                <mat-option value="Woman">Woman</mat-option>
                <mat-option value="Men">Men</mat-option>
              </mat-select>
              <small style="color: #d92550; font-size: 12px" class="align-baseline"
                     *ngIf="landlordService.ERROR_GENDER$ | async as error">
                {{ error }}
              </small>
            </mat-form-field>
               </div>
               <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Birth date</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="data.birthDate"
                     [ngModelOptions]="{standalone:true}">
              <mat-datepicker-toggle matSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <small style="color: #d92550; font-size: 12px" class="align-baseline"
                     *ngIf="landlordService.ERROR_BIRTHDATE$ | async as error">
                {{ error }}
              </small>
            </mat-form-field>
               </div>
               <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Birth place</mat-label>
              <input matInput  [(ngModel)]="data.birthPlace"
                     [ngModelOptions]="{standalone:true}" >
              <small style="color: #d92550; font-size: 12px" class="align-baseline"
                     *ngIf="landlordService.ERROR_BIRTHPLACE$ | async as error">
                {{ error }}
              </small>
            </mat-form-field>
               </div>
               <div class="col">
               <mat-form-field appearance="outline">
              <mat-label>Passport type</mat-label>
              <mat-select [(ngModel)]="data.passportType"
                          [ngModelOptions]="{standalone:true}">
                <mat-option value="Id">Id</mat-option>
                <mat-option value="Passport">Passport</mat-option>
              </mat-select>
              <small style="color: #d92550; font-size: 12px" class="align-baseline"
                     *ngIf="landlordService.ERROR_PASSPORTYPE$ | async as error">
                {{ error }}
              </small>
            </mat-form-field>
               </div>
               <div class="col">
               <mat-form-field appearance="outline">
              <mat-label>Nationality</mat-label>
              <input matInput  [(ngModel)]="data.nationality"
                     [ngModelOptions]="{standalone:true}">
              <small style="color: #d92550; font-size: 12px" class="align-baseline"
                     *ngIf="landlordService.ERROR_NATIONALITY$ | async as error">
                {{ error }}
              </small>
            </mat-form-field>
               </div>

               <div class="col">
               <mat-form-field appearance="outline">
              <mat-label>Date of issue</mat-label>
              <input matInput [matDatepicker]="picker1" [(ngModel)]="data.dateOfIssue"
                     [ngModelOptions]="{standalone:true}">
              <mat-datepicker-toggle matSuffix [for]="picker1">
              </mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
                <small style="color: #d92550; font-size: 12px" class="align-baseline"
                       *ngIf="landlordService.ERROR_DATEOFISSUE$ | async as error">
                  {{ error }}
                </small>
            </mat-form-field>
               </div>
               <div class="col">
                 <mat-form-field appearance="outline">
                   <mat-label>Authority</mat-label>
                   <input matInput  [(ngModel)]="data.authority"
                          [ngModelOptions]="{standalone:true}">
                   <small style="color: #d92550; font-size: 12px" class="align-baseline"
                          *ngIf="landlordService.ERROR_AUTHORITY$ | async as error">
                     {{ error }}
                   </small>
                 </mat-form-field>
               </div>
               <div class="col">
               <mat-form-field appearance="outline">
              <mat-label>Expiration date</mat-label>
              <input matInput  [matDatepicker]="picker2" [(ngModel)]="data.expirationDate"
                     [ngModelOptions]="{standalone:true}">
              <mat-datepicker-toggle matSuffix [for]="picker2">
              </mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
                <small style="color: #d92550; font-size: 12px" class="align-baseline"
                       *ngIf="landlordService.ERROR_EXPIRATIONDATE$ | async as error">
                  {{ error }}
                </small>
            </mat-form-field>
               </div>
               <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Passport number</mat-label>
              <input matInput  [(ngModel)]="data.passportNumber"
                     [ngModelOptions]="{standalone:true}">
              <small style="color: #d92550; font-size: 12px" class="align-baseline"
                     *ngIf="landlordService.ERROR_PASSPORTNUMBER$ | async as error">
                {{ error }}
              </small>
            </mat-form-field>
               </div>
               <div class="col">
               <mat-form-field appearance="outline">
              <mat-label>Identification number</mat-label>
              <input matInput  [(ngModel)]="data.identificationNumber"
                     [ngModelOptions]="{standalone:true}">
              <small style="color: #d92550; font-size: 12px" class="align-baseline"
                     *ngIf="landlordService.ERROR_IDENTIFICATIONNUMBER$ | async as error">
                {{ error }}
              </small>
            </mat-form-field>
             </div>
             </div>
               <div class="form-group">
              <div class="col-xs-12" style="margin-left: 105px">

                <button mat-raised-button color="primary"  (click)="updatePassport(data)"
                        type="submit"> Save
                </button>
                <a routerLink="/changePassword">
                  <button mat-raised-button color="primary" style="margin:20px;"> New password
                  </button>
                </a>
                <button mat-raised-button color="warn" (click)="resetData()">Reset</button>
                <small style="color: #d92550; font-size: 12px" class="align-baseline"
                       *ngIf="landlordService.error$ | async as error">
                  {{ error }}
                </small>
              </div>
            </div>
          </form>
        </div>

      </div>
</div>




