<div class="statistics">

  <app-active-count></app-active-count>

  <div class="bar-charts">

    <div class="bar-chart-card">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <span class="bar-chart-label">Last Weeks Dynamics</span>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div>
      <app-user-chart></app-user-chart>
      <app-flat-chart></app-flat-chart>
    </div>

  </div>

  <div class="line-chart-user">

    <app-users-line-chart></app-users-line-chart>
  </div>


  <div class="pie-charts">
    <div class="diagram-card">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <span class="bar-chart-label">Diagrams</span>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
    </div>

    <app-diagram-users></app-diagram-users>
    <app-diagram-flats></app-diagram-flats>
    <app-diagram-comments></app-diagram-comments>
  </div>


  <div class="line-charts-comments">
    <app-comments-line-chart></app-comments-line-chart>
  </div>

</div>
