.statistics {
  height: 2000px;
}

.week-label {
  text-align: center;
  font-size: 25px;
  width: 100%;
}

.pie-charts {
  width: 100%;
}

.bar-charts {
  margin-top: 550px;
}

.line-charts{
  align-content: center;
  align-self: center;
}
