agm-map {
  height: 255px;
}


* {
  font-family: Lato;
}

a {
  color: darkblue;
}

.home-card {
  padding: 0;
  margin: 40px;
  width: 900px;
  height: 252px;
  margin-left: auto !important;
  margin-right: auto !important;
}
