.diagram{
  width: 30%;
  margin: 0px 30px 50px 0;
  float: right;
  height: 510px;
}
.title{
  text-align: center;
  font-size: 25px;
  margin: 25px 10px 30px 10px;
}

.stats{
  font-size: 25px;
}

.first{
  margin-top: 30px;
}

.info{
  margin: 20px 20px 20px 20px;
}
