<div class="requests-lebel">
  <mdb-card>
    <mdb-card-body>
      <mdb-card-title>
        <span class="bar-chart-label">Requests For Landlord Verification</span>
      </mdb-card-title>
    </mdb-card-body>
  </mdb-card>
</div>

<div class="mat-elevation-z8 req-table">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID.</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let element"> {{element.author.username}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Creation Date</th>
      <td mat-cell *matCellDef="let element"> {{element.creationDate | date:'mediumDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="review">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element" [ngSwitch]="element.status">
        {{element.approvalDate | date:'mediumDate'}}
        <button mat-raised-button color="primary" (click)="review(element.id)" *ngSwitchCase="'VERIFYING'">Review
        </button>
        <span *ngSwitchCase="'APPROVED'">Approved at {{element.verificationDate | date:'mediumDate'}}</span>
        <span *ngSwitchCase="'DECLINED'">Declined at {{element.verificationDate | date:'mediumDate'}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="approve">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button class="action-button" mat-raised-button color="primary" (click)="approve(element.id)"
                *ngIf="element.status=='VERIFYING'">Approve
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="decline">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button class="action-button" mat-raised-button color="warn" (click)="decline(element.id)"
                *ngIf="element.status=='VERIFYING'">Decline
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

